---
layout: default
title: On Rotation
description: Current albums we play on repeat. 
thumbnail: /images/record-player2.gif
---

<div class="row">
    <div class="col-sm-7 margin-large">
    <h1>On Rotation</h1></div>
        <div class="col-sm-5 page-title">
            <img src="{{ site.baseurl }}/images/record-player2.gif" width="250px" height="auto"/>
            
         <!---  NEED JAVASCRIPT FOR THIS 
            
<p class="date"> Now Playing {{ onrotation.album }} by {{ onrotation.artist }} </p> --->
            
        </div>
    </div>

 
 
<div class="col-md-9">

     <ul>
         {% for albums in site.data.rotation %}
      <li> 
    <div class="rotation-div">
        	<figure class="infoslide">
                <figcaption>
                            <p>Album: {{ albums.album_name }}</p>
                            <p>Artist: {{ albums.artist }}</p>
                            {% if albums.spotify %}
                            <a href="{{ albums.spotify }}">Listen on Spotify</a>
                            {% endif %}
                            {% if albums.link %}
                            <a href="{{ albums.link }}">Learn More</a>
                            {% endif %}
						</figcaption>
                <img class="rotation-img" src="/images/{{ albums.image }}">
          
						
             </figure>
        
          <div class="rotation-play">
<object type="application/x-shockwave-flash" width="30" height="25" data="https://www.youtube.com/v/{{ albums.youtube }}?version=2&theme=dark"><param name="movie"  value="https://www.youtube.com/v/{{ albums.youtube }}?version=2&theme=dark"/><param name="wmode" value="transparent"/></object> <!--- <a href="{{ albums.link }}">Full Album</a> --->
        
        </div>
        
        
          
          </div>

    </li>
  {% endfor %}
</ul>
    



</div>




    
  