<!DOCTYPE html>
<html lang="en">
 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>Spare Grandma Music Blog</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/hover.js">
<script src="https://use.typekit.net/eky6zpd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta name="viewport" content="width=device-width, initial-scale=1">  
 {% if page.tags %}
<meta name="keywords" content="{{ page.tags }}" />
{% else %}
<meta name="keywords" content="spare grandma, indie, music, blog, kanm, radio, michael core, dylan clay, hip hop, rap, shoegaze, noise, protopunk, experimental, vinyl, folk, electronic, fuzz, garage, punk, americana, world music, rachel binagia" />
{% endif %}
<link rel="canonical" href=" { { site.url } }{ { page.url } }" />
    
{% include opengraphs.html %}



    </head>
<body>
    
    
    <div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
    
    
    <nav>
  
  <input id="nav" type="checkbox" style="display: none;"/>
  
  <label for="nav">
    <!--- <strong>Menu</strong> ---->
    <b><i></i><i></i><i></i></b>
  </label>
  
  <menu>
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    <li><a href="{{ site.baseurl }}/rotation">On Rotation</a></li>
    <li><a href="{{ site.baseurl }}/writeups">Write Ups</a></li>
    <li><a href="{{ site.baseurl }}/merch">Merch</a></li>
    <li><a href="{{ site.baseurl }}/grandmastuff">Grandma Stuff</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
  </menu>
  
</nav>


 
