<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
 <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.css">
    <script src="https://use.typekit.net/eky6zpd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
<body style="background: #000;">
    
    
    <div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
    
    
    <nav>
  
  <input id="nav" type="checkbox" />
  
  <label for="nav">
    <!---<strong>Menu</strong>--->
    <b><i></i><i></i><i></i></b>
  </label>
  
  <menu>
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
    <li><a href="{{ site.baseurl }}/rotation">On Rotation</a></li>
    <li><a href="{{ site.baseurl }}/writeups">Write Ups</a></li>
    <li><a href="{{ site.baseurl }}/merch">Merch</a></li>
    <li><a href="{{ site.baseurl }}/grandmastuff">Grandma Stuff</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
  </menu>
  
</nav>


 
  
       <a href="{{ site.baseurl }}/index.html"><div class="home-logo"><img src="{{ site.baseurl }}/images/dark-sg-logo.jpg" width="50%" height="auto" /></div></a>
        {{ content }}
     
  
{% include footer.html %}
    
 