 {% include header.html %}

    <a href="{{ site.baseurl }}/index.html"><div class="home-logo"><img src="{{ site.baseurl }}/images/sg-logo.jpeg" width="40%" height="auto" /></div></a>
 <!---------- CONTENT ------------->  
<div class="container">
{% assign author = site.authors[page.author] %} 
    <div class="col-md-12"><h1>{{ page.title }}</h1>
        <p class="date">By {{ author.display_name }}</p>
     <div class="list margin-large">
    {{ content }}
</br></br>
   <a href="{{ site.baseurl }}/writeups"><< Back</a>
</div>
</div>
<!---------- AUTHOR ------------->
</div>
<div class="container">
<div class="col-md-12 authors">  
<div class="col-sm-3">
    <img src="{{ author.image }}" width="150px" height="auto"/></div>
<div class="col-sm-9">
<h2>{{ author.display_name }}</h2>
    <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:user:{{ author.spotify }}&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe> 
    <p>{{ author.bio }}</p></div></br>
</div>


<hr>

<!--------------DISQUS COMMENTS -- rachyrach12.disqus.com ---------------->
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//rachyrach12.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>



<script id="dsq-count-scr" src="//rachyrach12.disqus.com/count.js" async></script>








 
{% include footer.html %}
    
